<h1>The Rails 3310</h1>

<div id="phone-image">
</div>
<div id="screen-background">
</div>
<div id="send-message-button">
</div>
<div id="sending-message" class="hidden">
  <br>
  Sending...
</div>
<div id="message-sent" class="hidden">
  <br>
  Message Sent!
</div>
<div id="message-failed" class="hidden">
  <br>
  Error!
</div>
<textarea maxLength="160" id="message-entry" class="hidden" type="textarea" wrap="physical" ></textarea>
<div id="contacts-master">
  <% @response['data'].map do |contact| %>
    <div class="contact" data-uuid=<%= contact['id'] %>>
      <div class="contact-line"> <%= contact['first_name'] %> <%= contact['last_name'] %> </div>
    </div>
  <% end %>
</div>


<script>

  let contact;
  let selected;
  let isComposing = false;

  function updateSelected(el) {
    if(selected) {
      selected.removeClass("selected");
    }
    selected = el;
      selected.addClass("selected");
  }

  function revealMessageEntry() {
    $("#message-entry").val("");
    $('#message-entry').removeClass("hidden");
  }

  function hideMessageEntry() {
    $("#message-entry").val("");
    $('#message-entry').addClass("hidden");
  }

  function revealContactMaster() {
    $("#contacts-master").removeClass("hidden");
  }

  function hideContactMaster() {
    $("#contacts-master").addClass("hidden");
  }

  function revealSendingMessage() {
    $("#sending-message").removeClass("hidden");
  }

  function hideSendingMessage() {
    $("#sending-message").addClass("hidden");
  }

  function revealMessageSent() {
    $("#message-sent").removeClass("hidden");
  }

  function hideMessageSent() {
    $("#message-sent").addClass("hidden");
  }

  function revealMessageFailed() {
    $("#message-failed").removeClass("hidden");
  }

  function hideMessageFailed() {
    $("#message-failed").addClass("hidden");
  }

  function sendMessage(message) {
    $.ajax({
      method: "POST",
      url: window.location.href + "contacts",
      data: {
        "id": contact.getAttribute("data-uuid"),
        "message": message
      },
      success: function(data) {
        hideSendingMessage();
        revealMessageSent();
        setTimeout(function() {
          hideMessageSent();
          revealContactMaster();
        }, 1500);

      },
      error: function(xhr, error) {
        hideSendingMessage();
        revealMessageFailed();
        setTimeout(function() {
          hideMessageFailed();
          revealContactMaster();
        }, 1500);
      }
    })
  }

  $(document).ready(function() {
    updateSelected($('.contact-line').first());
    contact = $(".contact-line")[0].parentNode;

    $(".contact-line").click(function(e) {
      e.preventDefault();
      contact = this.parentNode;
      updateSelected($(this));
    });

    $("#send-message-button").click(function(e) {
      e.preventDefault();
      if(isComposing === false) {
        isComposing = true;
        hideContactMaster();
        revealMessageEntry();
        $("#message-entry").focus();
      } else {
        sendMessage($("#message-entry").val());
        isComposing = false;
        hideMessageEntry();
        revealSendingMessage();
      }

    });

  });

</script>
