<h1>This is working!</h1>

<div id="phone-image">
</div>
<div id="screen-background">
</div>
<div id="contacts-master">
  <% @response['data'].map do |contact| %>
    <div class="contact" data-uuid=<%= contact['id'] %>>
      <div class="contact-line"> <%= contact['first_name'] %> <%= contact['last_name'] %> </div>
      <!-- <div class="contact-button">Send SMS</div> -->
    </div>
  <% end %>
</div>


<script>

  let contact;

  $("#contacts-master").append("<div class='contact-line'>Test</div>");
  $("#contacts-master").append("<div class='contact-line'>Test</div>");
  $("#contacts-master").append("<div class='contact-line'>Test</div>");
  $("#contacts-master").append("<div class='contact-line'>Test</div>");
  $("#contacts-master").append("<div class='contact-line'>Test</div>");

  $(document).ready(function() {
    $(".contact-line").click(function(e) {
      e.preventDefault();
      contact = this.parentNode;
      console.log("id: ", contact.getAttribute("data-uuid"));
      $.ajax({
        method: "POST",
        url: window.location.href + "contacts",
        data: {
          "id": contact.getAttribute("data-uuid"),
          "message": "test message"
        },
        success: function(data) {
          console.log(data);
        },
        error: function(xhr, error) {
          console.log(xhr);
        }
      })
    });

  });

</script>
