<h1>The Rails 3310</h1>

<div id="phone-image">
</div>
<div id="screen-background">
</div>
<div id="send-message-button">
</div>
<textarea maxLength="160" id="message-entry" class="hidden" type="textarea" wrap="physical" ></textarea>
<div id="contacts-master">
  <% @response['data'].map do |contact| %>
    <div class="contact" data-uuid=<%= contact['id'] %>>
      <div class="contact-line"> <%= contact['first_name'] %> <%= contact['last_name'] %> </div>
      <!-- <div class="contact-button">Send SMS</div> -->
    </div>
  <% end %>
</div>


<script>

  let contact;
  let selected;
  let isComposing = false;

  function updateSelected(el) {
    if(selected) {
      selected.removeClass("selected");
    }
    selected = el;
      selected.addClass("selected");
  }

  function revealMessageEntry() {
    $("#message-entry").val("");
    $('#message-entry').removeClass("hidden");
  }

  function hideMessageEntry() {
    $("#message-entry").val("");
    $('#message-entry').addClass("hidden");
  }

  function revealContactMaster() {
    $("#contacts-master").removeClass("hidden");
  }

  function hideContactMaster() {
    $("#contacts-master").addClass("hidden");
  }

  function sendMessage(message) {
    $.ajax({
      method: "POST",
      url: window.location.href + "contacts",
      data: {
        "id": contact.getAttribute("data-uuid"),
        "message": message
      },
      success: function(data) {
        console.log(data);
      },
      error: function(xhr, error) {
        console.log(xhr);
      }
    })
  }

  $(document).ready(function() {
    updateSelected($('.contact-line').first());
    contact = $(".contact-line")[0].parentNode;
    console.log("first contact: ", contact);
    console.log(selected);

    $(".contact-line").click(function(e) {
      e.preventDefault();
      contact = this.parentNode;
      console.log("this: ", this);
      console.log("id: ", contact.getAttribute("data-uuid"));
      updateSelected($(this));
    });

    $("#send-message-button").click(function(e) {
      e.preventDefault();
      if(isComposing === false) {
        isComposing = true;
        hideContactMaster();
        revealMessageEntry();
        $("#message-entry").focus();
      } else {
        sendMessage($("#message-entry").val());
        hideMessageEntry();
        revealContactMaster();
      }

    });

  });

</script>
