<h1>This is working!</h1>

<div id="contacts-master">
  <% @response['data'].map do |contact| %>
    <div class="contact" data-uuid=<%= contact['id'] %>>
      <div class="contact-line"> <%= contact['first_name'] %> <%= contact['last_name'] %> </div>
      <button class="contact-button">Send SMS</button>
    </div>
  <% end %>
<div>

<script>

  let contact;

  $(document).ready(function() {
    $(".contact-button").click(function(e) {
      e.preventDefault();
      contact = this.parentNode;
      console.log("id: ", contact.getAttribute("data-uuid"));
      $.ajax({
        method: "POST",
        url: window.location.href + "contacts",
        data: {
          "id": contact.getAttribute("data-uuid"),
          "message": "test message"
        },
        success: function(data) {
          console.log(data);
        },
        error: function(xhr, error) {
          console.log(xhr);
        }
      })
    });

  });

</script>
