// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'nokiafc22';
  src:url('nokiafc22.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

h1 {
  text-align: center;
}

textarea {
  resize: none;
  background-color: rgba(0,0,0,0);
  border: none;
  outline: 0;
}

textarea:focus {
  outline: 0;
}

.hidden {
  visibility: hidden;
}

#phone-image {
  background: url('http://res.cloudinary.com/dzo2s4ovl/image/upload/v1504632224/nokia3310_dvohbu.png') no-repeat center;
  background-size: contain;
  height: 600px;
  position: relative;
  z-index:10;
}

#contacts-master {
  // background-color: rgba(255,50,50,0.3);
  font-family: 'nokiafc22';
  position:absolute;
  top:245px;
  left:50%;
  width:165px;
  height:120px;
  transform:translateX(-50%);
  z-index:20;
  overflow:auto;
}

#message-entry {
  font-family: 'nokiafc22';
  position:absolute;
  top:245px;
  left:50%;
  width:165px;
  height:120px;
  transform:translateX(-50%);
  z-index:30;
  overflow:auto;
}

#screen-background {
  background-color: rgb(155,209,177);
  padding:25px;
  position:absolute;
  top:222px;
  left:50%;
  width:170px;
  height:130px;
  transform:translateX(-50%);
  z-index:-1;
}

#send-message-button {
  position: absolute;
  width:90px;
  border-radius: 10px;
  cursor:pointer;
  height:26px;
  z-index:30;
  top:2px;
  top:392px;
  left:50%;
  transform:translateX(-50%);
}

.contact-line {
  font-size:12px;
  overflow:hidden;
  white-space: nowrap;
  cursor:pointer;
  padding-left:2px;
}

.selected:before {
  content: "- ";
}
